html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background: 0 0;
}

b,
strong {
  font-weight: 700;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

input {
  line-height: normal;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

textarea {
  overflow: auto;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
body {
  font-weight: 400;
  line-height: 1;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}
body,
button,
input {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
img,
video {
  max-width: 100%;
  height: auto;
}
blockquote,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
pre,
td,
th,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-variant-ligatures: common-ligatures;
  -moz-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}
em,
i {
  font-style: italic;
  line-height: inherit;
}
b,
strong {
  font-weight: 700;
  line-height: inherit;
}

ol,
ul {
  list-style: none;
}
li {
  display: block;
}
a {
  text-decoration: none;
  line-height: inherit;
}

fieldset {
  margin: 0;
  padding: 0;
}
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.row {
  width: 94%;
  max-width: 1140px;
  margin: 0 auto;
}
.row:after,
.row:before {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}
.row .row {
  width: auto;
  max-width: none;
  margin-left: -20px;
  margin-right: -20px;
}
.bgrid,
[class*='col-'] {
  float: left;
}

[class*='col-'] {
  padding: 0 20px;
}

.col-1-3,
.col-four {
  width: 33.33333%;
}

.col-1-2,
.col-six {
  width: 50%;
}

.col-2-3,
.col-eight {
  width: 66.66667%;
}

.col-full,
.col-twelve {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .row .row {
    margin-left: -18px;
    margin-right: -18px;
  }
  [class*='col-'] {
    padding: 0 18px;
  }
}

[class*='block-']:after,
[class*='block-']:before {
  content: '';
  display: table;
}
[class*='block-']:after {
  clear: both;
}
.block-1-6 .bgrid {
  width: 16.66667%;
}

.block-1-2 .bgrid:nth-child(2n + 1),
.block-1-3 .bgrid:nth-child(3n + 1),
.block-1-4 .bgrid:nth-child(4n + 1),
.block-1-6 .bgrid:nth-child(6n + 1) {
  clear: both;
}

  .block-s-1-3 .bgrid {
    width: 33.33333%;
  }
  
  [class*='block-s-'] .bgrid:nth-child(n) {
    clear: none;
  }
  .block-s-1-2 .bgrid:nth-child(2n + 1),
  .block-s-1-3 .bgrid:nth-child(3n + 1),
  .block-s-1-4 .bgrid:nth-child(4n + 1),
  .block-s-1-6 .bgrid:nth-child(6n + 1) {
    clear: both;
  }
}
.text-center {
  text-align: center;
}

.pull-right {
  float: right;
}

